
html *
{
   font-size: 1em !important;
   color: #000;
   font-family: Arial, san-serif !important;
}

body {
	margin:0px;
	padding:0px;
}

ul li ol {
	margin: 0px;
	padding: 0px;
}


/* layout */

.formEdit_left {
	float: left;
	width: 275px;
	min-height: 200px;
}

.formEdit_center {
	width: 100%;
	margin-left: 280px;
	position: relative;
}

.tabs {
	
}
.tabs ul, .tabs li, .tabs ol {
	margin:0px;
	padding:0px;
}
.ui-state-highlight {
	height:40px;
}

#formEdit_tabsLeft {
}
#formEdit_tabsCenter {
	
}
.formItemDrag {
	height: 64px;
	width: 100%;
	margin: 0px 0px 0xp 5px;
}
.formEdit_center .form_margin {
	min-height: 400px;
}


/* parts of the form edit */

.formItemPanel {
	min-height:100px;
	border: 1px solid transparent;
	margin: 0px 0px 5px 0px
}
.formItemTools {
	float:right;
	width:20px;
}
.formItemDescription {
	color:grey;
}
.formItemLabel {
	font-weight: bold;	
}
.formItemInput {
}
.formItemMessage {
}

.formItemPanel textarea,
.formItemPanel input {
	width:100%;
}



.formItemSelected {
	border: 1px dashed blue;
}

.formEditorAttribsTable {
	width:100%;	
}
.formEditorAttribsTable tr td {
	width:99%;
}
.formEditorAttribsTable tr td[0] {
	width:1%;
	white-space:nowrap;
}

.formEditorAttribsTable td {
	white-space: no-wrap;
}




